<ng-container *ngIf="!isError && carShowList?.Count() > 0; else showError">
  <ul>
    <li *ngFor="let make of getCarMakers()">
      <div class="car-maker">
        {{make}}
      </div>
      <ul>
        <li *ngFor="let model of getCarModelsByMake(make)">
          <div class="car-model">
            {{model}}
          </div>
          <ul>
            <li *ngFor="let carShow of getCarShowByMakeAndModel(make, model)">
              <div class="car-show">
                {{carShow}}
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</ng-container>
<ng-template #showError>
  <div class="error-text">
    {{errorMessage}}
  </div>
</ng-template>
